html {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Georgia", serif;
    color: #073B4C;
}

.container {
    display: grid;
    grid-template-columns: 4% 1.5fr 1fr 4%;
    grid-template-rows: auto;
}

.logoDiv {
    grid-row: 1/3;
    grid-column: 2/3;
    padding-top: 4%;
}

.navbarDiv {
    grid-row: 2/3;
    grid-column: 2/4;
}

.navbarDiv2 {
    grid-row: 3/4;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.bodyDiv {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: rgba(229, 227, 223, 0.576);
}
#galleryDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 4/5;
    grid-column: 2/4;
    grid-gap: 2%;
    margin-bottom: 5%;
    margin-top: 2%;
    background-color: #e5e3df93;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}


nav {
    display: grid;
    grid-template-columns: 30% 1fr 1.6fr 1fr;
    grid-template-rows: auto;
}

#overview {
    grid-column: 2/3;
}

.logo {
    height: auto;
}


#contact,
.overview,
.forMembers {
    font-size: 200%;
    font-weight: bold;
}


#overview {
    text-align: start;
}

#forMembers {
    text-align: center;
}

#homeBodyText,
.contactText,
label {

    font-size: 150%;
}

a {
    color: #073B4C;
    text-decoration: none;
}

#homeHeadingText,
h1 {
    text-decoration: underline;
    text-decoration-color: #118AB2;
    font-family: "Ink Free Regular", cursive;
    font-size: 300%;
    font-weight: bold;
}

#signUpButton,
#contactButton,
#aboutUsButton {
    background-color: rgba(17, 138, 178, 0.5);
    border: none;
    color: #073B4C;
    font-family: "Ink Free Regular", cursive;
    font-size: 150%;
}

.bodyDiv {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.aboutUsDiv {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
    margin-top: 2%;
    margin-bottom: 18%;
    grid-row: 4/5;
    grid-column: 2/4;
    row-gap: 2%;
    
}

#contactReceived, #signUpReceived {
    display: none;
}
.aboutUsBodyDivs {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
}
#aboutUsHeadingDiv, #resourcesHeadingDiv {
    grid-row: 1/2;
    grid-column: 1/5;
    text-align: center;
    background-color: #e5e3df93;
    box-shadow:3px 3px 4px 0px black;

}
#aboutUsBodyDiv1 {
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: #e5e3df93;
    padding: 2%;
    box-shadow:3px 3px 4px 0px black;

}

#aboutUsBodyDiv2 {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #e5e3df93;
    padding: 2%;
    box-shadow:3px 3px 4px 0px black;
}

#aboutUsBodyDiv3 {
    grid-row: 4/5;
    grid-column: 1/4;
    background-color: #e5e3df93;
    padding: 2%;
    box-shadow:3px 3px 4px 0px black;
}

#aboutUsBodyDiv4 {
    grid-row: 5/6;
    grid-column: 1/4;
    background-color: #e5e3df93;
    padding: 2%;
    box-shadow:3px 3px 4px 0px black;
}

#homeHeadingDiv {
    grid-row: 1/2;
    grid-column: 2/3;
}

#homeBodyDiv {
    grid-row: 2/3;
    grid-column: 2/3;
}

#signUpButtonDiv {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: center;
}

.contactDiv {
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    grid-row: 4/5;
    grid-column: 2/4;
    background-color: #e5e3df93;
    margin-top: 2%;
    box-shadow:3px 3px 4px 0px black;
    margin-bottom: 2%;
}

.signUpDiv {
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    grid-row: 4/5;
    grid-column: 2/4;
    background-color: #e5e3df93;
    margin-top: 2%;
    margin-bottom: 2%;
}

.signUpDiv, #galleryDiv, .leaderboardDiv, .noticesHeadingDiv, .notices, .leaderboardDiv {
    box-shadow: 3px 3px 4px 0 black;
}
.slides {
    background-color: black;
    text-align: center;

}
.slideNumber{
    color:white;
}


#signUpCol1 {
    grid-column: 4/5;
    grid-row: 2/3;
    margin-bottom: 4%;

}

#signUpCol2 {
    grid-column: 2/3;
    grid-row: 2/3;

}

#contactCol1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#contactCol2 {
    grid-column: 4/5;
    grid-row: 2/3;
}

#contactHeadingDiv {
    grid-column: 2/5;
    grid-row: 1/2;
    justify-self: center;
}

#signUpHeadingDiv {
    grid-column: 2/5;
    justify-self: center;
    grid-row: 1/2;
}

#aboutUsButtonDiv {
    grid-row: 5/6;
    grid-column: 2/3;
    justify-self: center;
}

#aboutUsBodyDiv1 {
    grid-row: 2/3;
    grid-column: 1/3;
}

#aboutUsBodyDiv2 {
    grid-row:3/4;
    grid-column: 2/4;
}

#aboutUsBodyDiv3 {
    grid-row: 4/5;
    grid-column: 1/3;
}

#aboutUsBodyDiv4 {
    grid-row: 5/6;
    grid-column: 2/4;
}

#aboutUsImage1 {
    grid-row: 2/3;
    grid-column: 3/4;
    box-shadow:3px 3px 4px 0px black;

}

#aboutUsImage2 {
    grid-row: 3/4;
    grid-column: 1/2;
    box-shadow:0px 3px 4px 0px black;
}

#aboutUsImage3 {
    grid-row: 4/5;
    grid-column: 3/4;
    box-shadow:3px 3px 4px 0px black;
}

#aboutUsImage4 {
    grid-row: 5/6;
    grid-column: 1/2;
    box-shadow:0px 3px 4px 0px black;
}



.dropdownGroup1 {
    grid-column: 2/3;
}

.dropdownGroup2 {
    grid-column: 3/4;
}

.dropdownGroup3 {
    grid-column: 4/5;
}

.dropdownItems1 {
    grid-row: 2/3;
    grid-column: 1/5;
    display: none;

}

.dropdownItems2 {
    grid-row: 2/3;
    grid-column: 1/5;
    display: none;

}

.dropdownItems1,
.dropdownItems2 {
    grid-template-columns: 30% 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.navbarDiv2 a {

    font-size: 130%;
}

.navbarDiv2 {
    padding-top: 2%;
    text-align: start;
}

#aboutUs {
    grid-column: 2/3;
}

#gallery {
    grid-column: 3/4;

}

#notices {
    grid-column: 2/3;
}

#signUp {
    grid-column: 4/5;
}

#cross {
    text-align: end;
}




/* The Modal (background) */
.galleryOverlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.overlayContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img.hoverShadow {
    transition: 0.3s;
}

.hoverShadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galleryHeading {
    grid-row: 1/2;
    grid-column: 1/5;
    text-align: center;
}

.noticesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row: 4/5;
    grid-column: 2/4;
    grid-gap: 2.2%;
    margin-bottom: 6%;
    margin-top: 2%;
}

.notices {
    background-color: #e5e3df93;
    padding: 2%;
}

#notice1 {
    grid-column: 1/2;
    grid-row: 2/3;

}

#notice2 {
    grid-column: 2/3;
    grid-row: 2/3;

}

#notice3 {
    grid-column: 3/4;
    grid-row: 2/3;

}

p a {
    text-decoration: underline;
}

#notice4 {

    grid-column: 1/2;
    grid-row: 3/4
}

#notice5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#notice6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#noticesHeading,
#leaderboardHeading  {
    grid-column: 2/3;
    text-align: center;
}
.noticesHeadingDiv {
    grid-column: 1/4;
    background-color: #e5e3df93;
}

.leaderboardDiv {
    grid-row: 4/5;
    grid-column: 2/4;
   margin-top: 2%;
   margin-bottom: 4%;
    grid-gap: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: #e5e3df93;
}

.leaderboardTable {
text-align: center;
border-collapse: collapse;
}


th, td {
    border: 1px solid black;
    max-width: 50px;
}

.row1 {
    grid-row: 2/3;

}

.row2 {
    grid-row: 3/4;
}

.row3 {
    grid-row: 4/5;
}

.row4 {
    grid-row: 5/6;
}

.row5 {
    grid-row: 6/7;
}

.row6 {
    grid-row: 7/8;
}

.row7 {
    grid-row: 8/9;
}

.row8 {
    grid-row: 9/10;
}

.row9 {
    grid-row: 10/11;
}

.row10 {
    grid-row: 11/12;
}

li a:hover {
    text-decoration: underline;
}


#overview:hover,
#forMembers:hover,
#contact:hover {
    text-decoration: underline;
}

.navbarDiv2 {
    min-height: 40px;
    ;
}

.dropdownItems1,
.dropdownItems2 {
    box-shadow: 2px 2px 2px 0 black;
}

#overview,
#forMembers,
#contact {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.even {
    background-color: #999;

}

.odd {
    background-color: #073B4C;
    color: #999;
}

.even, .odd {
    font-weight: bold;
}
#darkModeDiv {
    grid-column: 5/6;
    grid-row: 1/2;
    vertical-align: middle;
    align-self: center;
}

#choose1, #choose2, #choose3, #choose4, #nextQuestion, #checkAnswer {
    display: none;
}