html {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Georgia", serif;
    color: #073B4C;
}

.container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: auto;
}

.logoDiv {
    grid-row: 1/2;
    grid-column: 2/3;

}

.navbarDiv {
    grid-row: 1/2;
    grid-column: 2/4;
    align-self: end;
}

.bodyDiv {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #e5e3df93;
}

nav {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr;
    grid-template-rows: auto;

}

#home {
    grid-column: 2/3;
}

.logo {
    height: auto;
}

#home,
#overview,
#forMembers {
    text-align: end;
    font-size: 200%;
    font-weight: bold;
}

#homeBodyText,
.contactText,
label {
    color: #118AB2;
    font-size: 150%;
}


a {
    color: #073B4C;
    text-decoration: none;
}

#homeHeadingText,
h1 {
    text-decoration: underline;
    text-decoration-color: #118AB2;
    font-family: "Ink Free Regular", cursive;
    font-size: 300%;
    font-weight: bold;
}

#signUpButton,
#contactButton,
#aboutUsButton {
    background-color: rgba(17, 138, 178, 0.5);
    border: none;
    color: #073B4C;
    font-family: "Ink Free Regular", cursive;
    font-size: 150%;

}

.bodyDiv {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.aboutUsDiv {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    grid-row: 2/3;
    grid-column: 2/4;
    grid-gap: 5%;
}

.aboutUsBodyDivs {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
}

#aboutUsBodyDiv1 {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #e5e3df93;
}

#aboutUsBodyDiv2 {
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: #e5e3df93;
}

#aboutUsBodyDiv3 {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #e5e3df93;
}

#aboutUsBodyDiv4 {
    grid-row: 4/5;
    grid-column: 1/4;
    background-color: #e5e3df93;
}

#homeHeadingDiv {
    grid-row: 1/2;
    grid-column: 2/3;
}

#homeBodyDiv {
    grid-row: 2/3;
    grid-column: 2/3;
}

#signUpButtonDiv {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: center;
}

.contactDiv {
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: #e5e3df93;
    margin-top: 10%;
}

.signUpDiv {
    display: grid;
    grid-template-columns: 40% 1fr 40%;
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: #e5e3df93;
    margin-top: 10%;
}

#contactCol1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#contactCol2 {
    grid-column: 4/5;
    grid-row: 2/3;
}

#contactHeadingDiv {
    grid-column: 2/5;
    justify-self: center;
}

#signUpCol {
    grid-column: 2/3;
    grid-row: 2/3;
}

#signUpHeadingDiv {
    grid-column: 2/3;
    justify-self: center;
}

#aboutUsButtonDiv {
    grid-row: 5/6;
    grid-column: 2/3;
    justify-self: center;
}

#aboutUsBodyDiv1 {
    grid-row: 1/2;
    grid-column: 1/3;
}

#aboutUsBodyDiv2 {
    grid-row: 2/3;
    grid-column: 2/4;
}
#aboutUsBodyDiv3 {
    grid-row: 3/4;
    grid-column: 1/3;   
}
#aboutUsBodyDiv4 {
    grid-row: 4/5;
    grid-column: 2/4;
}

#aboutUsImage1 {
    grid-row: 1/2;
    grid-column: 3/4;
}

#aboutUsImage2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

#aboutUsImage3 {
    grid-row: 3/4;
    grid-column: 3/4;
}

#aboutUsImage4 {
    grid-row: 4/5;
    grid-column: 1/2;
}